{
  "host" : "8080",
  "plugin" : [
    {
      "name" : "jquery",
      "js" : "dist/jquery.min.js"
    },
    {
      "name" : "popper.js",
      "js" : "dist/umd/popper.js"
    },
    {
      "name" : "bootstrap",
      "css" : "dist/css/bootstrap.css",
      "js" : "dist/js/bootstrap.js"
    }
  ],
  "dist" : {
    "output" : "dist",
    "minify" : true,
    "css" : {
      "lang" : "scss",
      "stylelintrc" : true
    },
    "javascript" : {
      "lang" : "es6",
      "eslint" : true,
      "bable" : true
    },
    "image optimize" : {
      "level" : 5
    }
  }
}