// variables require
include ./components/_var.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Lab | 1996
    link(rel="stylesheet", href="./assets/css/style.min.css")
    link(rel="icon", href="./assets/images/favcon.png")
  body

    h1 #{test} Lab <i class="fas fa-address-book"></i>

    script(src="./assets/js/core.min.js")